@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Final Project</title>
    </head>

    <body>
        
        <h1 class="header">Welcome to Cuyahoga Community College Student Services Online</h1>
            
        <div class="legal">Cuyahoga Community College recognizes students' rights to access personal and academic records in accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568.</div>
        
        
        <div class ="logintable">
        
            <div id = "logintext"><span>Already have an account with us? Returning users may log in by entering their site username and password.</span></div>
            <div id = "logintextmobile">Login</div>
                
            <div class="input">
                <div class="label">Username</div> 
                <div class="inputbox"><input></div>
            </div>
                
            <div class="input">
                <div class="label" id="loginpass">Password</div>
                <div class= "inputbox"><input></div>
            </div>
                
            <div class="button1" id="login">
            <button type="submit" class="login">Log In</button>
            </div>
            
        </div>
        
        <div class ="registertable">
        
            <div id = "registertext"><span>New users, please create a new account by providing us with some basic information.</span></div>
            <div id = "registertextmobile">Create Account</div>
                
            <div class="input">
                <div class="label" id="registeruser">Username</div>
                <div class="inputbox"><input></div>
            </div>

            <div class="input">
                <div class="label" id="registerpass">Password</div>
                <div class="inputbox"><input></div>
            </div>

            <div class="input">
                <div class="label" id="registeremail">E-Mail Address</div>
                <div class="inputbox"><input></div>
            </div>

            <div class="input">
                <div class="label" id="registerconfirmemail">Repeat E-Mail Address</div>
                <div class="inputbox"><input></div>
            </div>
                
            <div class="button2" id="register">
                <button type="submit" class="createaccount">Create Account</button>
            </div>
            
        </div>
        
        
        <div id="footer">Cuyahoga Community College<br>700 Carnegie Avenue, Cleveland, OH 44115</div>
        
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>

    </body>

</html>